<h1>This is homepage </h1>

<!-- ruby code -->
<%= link_to 'About', about_path %>
<!-- to render an image -->
<%# <%= link_to image_tag('profileimage.png')%> 
<!-- to render an image with a link -->
<%# <%= link_to image_tag('profileimage.png'), 'www.mashrurhossain.com' %> 